<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lfxwkj.sur.mapper.ItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lfxwkj.sur.entity.Item">
        <id column="id" property="id"/>
        <result column="item_code" property="itemCode"/>
        <result column="item_name" property="itemName"/>
        <result column="location" property="location"/>
        <result column="remarks" property="remarks"/>
        <result column="state" property="state"/>
        <result column="xaxis" property="xaxis"/>
        <result column="yaxis" property="yaxis"/>
        <result column="type" property="type"/>
        <result column="begin_date" property="beginDate"/>
        <result column="end_date" property="endDate"/>
        <result column="is_foreign" property="isForeign"/>
        <result column="is_show" property="isShow"/>
        <result column="coor_system" property="coorSystem"/>
        <result column="head" property="head"/>
        <result column="progress" property="progress"/>
        <result column="synchronous_state" property="synchronousState"/>
    </resultMap>

    <resultMap id="resultMap" type="com.lfxwkj.sur.model.result.ItemResult">
        <id column="id" property="id"/>
        <result column="item_code" property="itemCode"/>
        <result column="item_name" property="itemName"/>
        <result column="location" property="location"/>
        <result column="remarks" property="remarks"/>
        <result column="state" property="state"/>
        <result column="xaxis" property="xaxis"/>
        <result column="yaxis" property="yaxis"/>
        <result column="type" property="type"/>
        <result column="begin_date" property="beginDate"/>
        <result column="end_date" property="endDate"/>
        <result column="is_foreign" property="isForeign"/>
        <result column="is_show" property="isShow"/>
        <result column="coor_system" property="coorSystem"/>
        <result column="head" property="head"/>
        <result column="progress" property="progress"/>
        <result column="processName" property="processName"/>
        <result column="typeName" property="typeName"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS "id", item_code AS "itemCode", item_name AS "itemName", location AS "location", remarks AS "remarks", state AS "state", xaxis AS "xaxis", yaxis AS "yaxis", is_foreign as "isForeign", is_show as "isShow",coor_system as "coorSystem"
    </sql>

    <select id="customList" resultType="com.lfxwkj.sur.model.result.ItemResult"
            parameterType="com.lfxwkj.sur.model.params.ItemParam">
        select
        <include refid="Base_Column_List"/>
        from sur_item where 1 = 1
    </select>

    <select id="customMapList" resultType="map" parameterType="com.lfxwkj.sur.model.params.ItemParam">
        select
        <include refid="Base_Column_List"/>
        from sur_item where 1 = 1
    </select>

    <select id="customPageList" resultMap="resultMap" parameterType="com.lfxwkj.sur.model.params.ItemParam">
        select a.*,b.name processName, c.name typeName
        from sur_item a
        left join sys_dict b on a.progress = b.dict_id
        left join sur_item_type c on a.type = c.id
        where a.state != 1
        <if test="paramCondition.itemName != null and paramCondition.itemName != ''">
            and a.item_name like CONCAT('%',#{paramCondition.itemName},'%')
        </if>
        <if test="paramCondition.itemCode != null and paramCondition.itemCode != ''">
            and a.item_code like CONCAT('%',#{paramCondition.itemCode},'%')
        </if>
        <if test="paramCondition.location != null and paramCondition.location != ''">
            and a.location like CONCAT('%',#{paramCondition.location},'%')
        </if>
        <if test="paramCondition.type != null">
            and a.type = #{paramCondition.type}
        </if>
        <if test="paramCondition.progress != null">
            and a.progress = #{paramCondition.progress}
        </if>
        <if test="paramCondition.isForeign != null">
            and a.is_foreign = #{paramCondition.isForeign}
        </if>
        <if test="paramCondition.isShow != null">
            and a.is_show = #{paramCondition.isShow}
        </if>
        order by a.id desc
    </select>

    <select id="customPageMapList" resultType="map" parameterType="com.lfxwkj.sur.model.params.ItemParam">
        select
        <include refid="Base_Column_List"/>
        from sur_item where 1 = 1
    </select>
    <select id="getItemOnTheMap" resultType="com.lfxwkj.sur.model.result.ItemResult">
        select a.*,b.name processName, c.name typeName , c.url typeUrl
        from sur_item a
        left join sys_dict b on a.progress = b.dict_id
        left join sur_item_type c on a.type = c.id
        where a.state != 1
        and a.is_show = 1
        <if test="paramCondition.itemName != null and paramCondition.itemName != ''">
            and concat(a.item_name,a.item_code,location,a.xaxis,a.yaxis) like concat('%',#{paramCondition.itemName},'%')
        </if>
        <if test="paramCondition.typeArray != null and paramCondition.typeArray != ''">
            and a.type in (
            <foreach collection="paramCondition.typeArray" item="itemType" separator=",">
                #{itemType}
            </foreach>
            )
        </if>
        <if test="paramCondition.planArray != null and paramCondition.planArray != ''">
            and a.progress in (
            <foreach collection="paramCondition.planArray" item="itemPlan" separator=",">
                #{itemPlan}
            </foreach>
            )
        </if>
        order by a.id desc
    </select>
    <select id="getItemDetail" resultType="com.lfxwkj.sur.model.result.ItemResult">
        SELECT
        a.*,
        b.NAME processName,
        c.NAME typeName
        FROM
        sur_item a
        LEFT JOIN sys_dict b ON a.progress = b.dict_id
        left join sur_item_type c on a.type = c.id
        WHERE
        a.state != 1
        <if test="paramCondition != null">
            and a.id = #{paramCondition}
        </if>
    </select>
    <select id="getCountByType" resultType="java.lang.String">
        SELECT
            count(*)
        FROM
            sur_item
        WHERE
            state = 0
        <if test="paramCondition != null">
            and type = #{paramCondition}
        </if>
    </select>

</mapper>
